html {
    font-family: 'Poppins';
}

body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}


.form-group {
    width: 290px;
}

.formInner {
    font-family: 'Poppins';
    width: 500px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

#payButton {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 28px auto;
    height: 108px !important;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    color: #fff;
    font-family: 'Poppins';
    background-color: #548B59;
    border: none;
    box-shadow: none;
}

#payButton:hover {
    background-color: #548B59;
    border-color: #548B59;
    box-shadow: 0 3px 4px #bbbbbb;
}

#payButton:active {
    opacity: 0.7;
}

.checkboxLabel {
    margin: 0 0 0 7px;
}

.payment-field {
    border-radius: 6px;
    width: 48%;
    margin-bottom: 14px;
    font-size: 20px;
    transition: 200ms;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    font-family: 'Poppins';
    margin: 0;
}

.payment-field input:focus {
    border: 1px solid #548B59;
    outline: none !important;
}

.payment-field:hover {
    box-shadow: 0px 4px 4px 0px rgba(84, 139, 89, 0.20);
}

.payment-field input {
    border: 1px solid #FFFFFF;
    width: 100%;
    border-radius: 6px;
    padding: 4px 8px;
    height: 56px;
    font-size: 20px;
}

#payment-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#ccnumber {
    width: 100%;
    font-size: 24px;
}

#ccexp,
#cvv {
    font-size: 20px;
}

#paymentTokenInfo {
    width: 600px;
    display: block;
    margin: 30px auto;
}

.separator {
    margin-top: 30px;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .pageTitle {
        font-size: 30px;
    }

    .theForm {
        width: 300px;
        max-width: 90%;
        margin: auto;
    }

    .form-group {
        width: 100%;
    }
}
                

label{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #262626;
}

.name_field{
    width:100%;
}

.bottom_fields{
    width: 50%;
}

.payment_row{
    margin: 0 0 28px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}